.Burger{
    width:100%;
    margin:auto;
    height:450px;
    overflow: none;
}

@media(min-width:1000px) and (min-height:700px){
    .Burger{
        width:600px;
        height:800px;
        
    }
}